@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');
.wrapp{
    height: auto;
    width: 100%;
    position: relative;
    background-image: url('../Assets/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #c8d2e3;
    opacity: 0.7;
    padding-left: 50px;
    padding-top: -20px;
  }
  .head_prof{
    display: flex;
    flex-direction: row;
    padding: 30px;
    text-align: center;
    gap: 10px;
  }
  .bar{
    width: 100%;
    opacity: 0.7;
    background-color: #c8d2e3;
    height: 100px;
  }
  .head_prof h3{
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    font-style: normal;
    margin-top: 15px;
    font-size: 40px;
  }
  .profle-image {
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image completely round */
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
  }
  .task-container{
    margin-top: 20px;
    height: auto;
  }
  .text{
    text-align: left;
    margin-left: 55px;
  }
  .text h2{
    padding: 20px;
    font-size: 30px;
  }
  .profile{
    display: flex;
  }
  .username{
    font-size: 50px;
  }
  .popup{
    position: absolute;
    align-items: center;
    background-color: #fff;
    margin-left: 54%;
    padding: 30px;
    width: 30%;
    border: 2px solid #197ed6;
    border-radius: 1px 90px ;
    z-index: 1;
  }
  .box{
    padding: 10px
  }
  .box h2{
    font-size: 20px
  }
  .box input{
    border: 1px solid #197ed6;
    width: 100%;
  }
  .box2 textarea{
    border: 1px solid #197ed6;
    width: 100%;
    height: 100px;
    resize: vertical;
    outline: none;
  }
  .box2{
    padding: 10px
  }
  .box2 h2{
    font-size: 20px
  }
  .btn1{
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .btn1 button{
    border: none;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #197ed6;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
  }
  .input{
    display: flex;
    flex-direction: column;
  }
  .form_head{
    text-align: center;
  }
  .form_head h1{
    font-size: 30px;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 30px 60px;
  }
  .card{
    position: relative;
    margin: 30px;
    width: 300px;
    height: 200px !important;
    padding: 30px;
    box-shadow: 2px 2px 5px #464545;
    /* position: relative;
    margin: 20px;
    width: calc(30% - 20px) !important;
    height: 200px !important; 
    padding: 20px;
    background-color: #fff;
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px #464545;
    gap: 20px; */
  }
  .add-btn{
    position: absolute;
    bottom: 20px;
    right: 25px;
  }
  .add-btn button{
    margin-left: 5px;
  }
  .delete{
    color: red;
    border: none;
    background-color: #fff;
  }
  .edit{
    border: none;
    background-color: #fff;
    color: green;
  }
  .content{
    padding: 10px;
    gap: 20px;
    width: 90%;
  }
  .content h3{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .drawer{
    display: flex;
    flex-direction: row;
  }
  
  .button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    height: 20px;
    width: 20px;
  }
  
  .green {
    background-color: green;
    border: 1px solid green;
    color: transparent;
  }
  .date{
    display: flex;
  }
  .date h3{
    font-size: 15px;
  }
  .d{
    margin-right: 30px;
  }
  .completed {
    text-decoration: line-through red;
    
  }
  @media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .wrapp {
      background-size: cover; /* Adjust background size */
    }
    .header {
      height: 80px; /* Reduce header height */
      padding-left: 20px; /* Adjust padding */
    }
    .head_prof h3 {
      font-size: 30px; /* Reduce font size */
    }
    .profile-container {
      text-align: center; /* Center profile image */
    }
    .profile-image {
      width: 50px; /* Reduce profile image size */
      height: 50px;
    }
    .popup{
        width: 30%;
    }
    .cards{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }